@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap:break-word;
}

textarea { resize: vertical; display:block;}


*,
*::before,
*::after {
  box-sizing: border-box;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  border: none;
  margin: 0;
  border-radius:2px;
  font-size:12px;
    padding:2px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e4/Ic_arrow_drop_down_36px.svg') 96% / 15% no-repeat #EEE;

}

input {

    padding: 10px;
}

body {
    background:rgba(51, 51, 51, 0.933);
    perspective:1000px;
}

button {
    outline:none;
    border:none;
    transition:0.2s ease;
    background:rgba(0, 0, 0, 0.481);
    color:white;
}

button:hover {
    background:rgba(0, 0, 0, 0.289);
}

input { display:inline-block; }

#container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    color:white;
}

.wrapper {
    margin:10px;
    width:100%;
    height:100%;
}

nav {
    padding-bottom:10px;
    display:flex;
    justify-content: space-between;
    font-size:10px;
}

nav ul {
    list-style: none;
    display:flex;
}

nav ul li {
    padding-right:10px;
}

nav ul li a {
    padding:10px;
    display:block;
    background:rgba(140, 140, 140, 0.385);
    text-transform: uppercase;
    
}




.input-form input {
    border:none;
}



.input-form textarea {
    width: 100%;
    padding: 10px;
    height: 150px;
    border:none;
    outline:none;
}


.input-title {
    
    padding-bottom:10px;
}
.input-title input {
    width:100%;
}

.errors {
    margin-top: 5px;
    background: rgba(255, 0, 0, 0.707);
    border-radius: 5px;
    padding: 10px !important;
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    position: relative;
    display:flex;
    justify-content: space-between;
    -webkit-animation: slideIn 0.5s forwards;
    -moz-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
    color:white;
}


.todo-controls {
    font-size:10px;
    display:flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
}

.todo-filter {
    display:flex;
    align-items:center;
}

.todo-filter label {
    padding:0 10px 0 10px;
}

.priority {
    display:flex;
}

.priority > div {
    padding-left:5px;
    display:flex;
    align-items:center;
    
}

.todo-controls > div {
        display:flex;
}




.switch {
    margin-left:10px;
}

.switch svg {
    margin:0;
    padding:0;
}

.pri {
text-align:right;
}

.todo-panes {
    display:flex;
    flex-direction:row;
    gap:5px;
}

.todo-panes section {
    display:flex;
    flex-direction:column;
    width:100%;
}
.divider {
    border-left:1px solid gray;
}

.todo-panes section > div {
    margin-bottom: 5px;
}

.todo-panes section > div {
    margin-bottom: 5px;
}

.todo-list {
    display:grid;
    min-width:0;
    min-height:0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:5px;
}


.todo-wrapper {
    padding:5px 5px 0 5px;
    border-radius:5px;
    display:flex;
    color:white;
    flex-direction:column;
}


.todo-wrapper > div {
    background:rgba(0, 0, 0, 0.515);
}


.todo-title {
    font-size:13px;
    padding:5px;
}


.todo-dates {
    display: flex;
    flex-direction:column;
    font-weight: bold;
    font-size: 11px;
    padding: 5px;
    border-top:1px solid rgba(0, 0, 0, 0.213);
    border-bottom:1px solid rgba(0, 0, 0, 0.213);
}


.todo-content {
    font-size:12px;
    padding: 10px 5px 0 5px;
    height:100%;
}


.todo-wrapper input {
    width:100%;
    padding:10px;
}

.todo-wrapper textarea {
    width:100%; 
    height:200px;
    padding: 10px;
}

.todo-controls-edit {
    align-self:flex-end;
    justify-self: flex-end;
    display:flex;
    flex-direction:row;
    width:100%; 
}
.todo-controls-edit button {
    width:100%;  
    padding:3px;
}

.todo-controls-edit button:disabled {
    background:rgba(0, 0, 0, 0.296);
}

button {
    border-radius:2px;
    padding: 10px;
    font-size:10px;
}

.errorback {
    
    position:absolute;
    z-index: 1100;
    animation: slideInError 0.5s;
}

.category-item{
    display:flex;
    align-items:center;
    text-transform:capitalize;
    margin:0 10px 0 10px
}

.category-item p {
    padding-left:5px;
}

.color-preview {
    display:block;
    border-radius:50px;
    width:20px;
    height:20px;
}


.categories {
    display:flex;
    align-items:center;
}


.selected-category {
    opacity:0.9;
}

.login {
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    flex-direction: column;
}

.register {
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    flex-direction: column;
}

.form .errors {
    font-size:12px;
    padding:0;
}

.form {
    width:50%;
    background-color:rgba(0, 0, 0, 0.467);
    padding:10px;
}

.form input {
    padding:10px;
    width:100%;
}

.form input[type=submit] {
    width:auto;
    background:rgba(9, 9, 9, 0.693);
    border:none;
    color:white;
}
.form > div {
    padding:5px;
}


.form .error-wrapper {
    padding:0 5px 0 5px;
}

.form label {
    display:block;
    font-size:10px;
}

.login-submit {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pad {
    padding:10px;
}

.full-name {
    display:flex;
    width:100%;
}

.full-name > div {
    width:100%;
}
.full-name div:nth-child(1) {
    padding-right:5px;
    
}

.response {
    background:green;
    color:white;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px !important;
    overflow-y: hidden;

    position: relative;
    display:flex;
    justify-content: space-between;
    -webkit-animation: slideIn 0.5s forwards;
    -moz-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
    color:white;
}

.chat {
    margin:0;
    height:100vh;
    overflow-y:hidden;
}

html {
}

.navbar-chat-fix {
    position:absolute;
    padding:10px;
    width:100vw;
}

.chat-messages {
    height:100vh;
    overflow-y:scroll;
    margin-bottom:10px;
}

.message-wrapper {
    display:flex;
}

.message-username {
    padding:5px;
    margin:5px;
    background:green;
    border-radius: 5px;
}

.message-text {
    padding:5px;
}

.message-wrapper:nth-child(odd) {
    background-color:#00000043;
}

.message-wrapper:nth-child(even) {
    background-color:#00000054;
}


.chat-input {
    position:absolute;
    bottom:0;
    left:0;
}


.chat-input input {
    width:100%;
}

.chat-input > div {
    display:flex;
}

@keyframes slideInError {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-3000px);
    }

    100% {
        transform: translateX(0);
    }
}

.loader-container {
    width:100vw;
    height:100vh;
    display:flex;
    z-index:9999;
    position:absolute;
    justify-content: center;
    align-items:center;
}
.loader-box {
    transition: all 2s ease;
    transform-style: preserve-3d;
}
.loader-circle-one {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    background-color:black;
  }
  .loader-circle-two {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;

    animation: spin 0.9s alternate infinite;
    background-color:black;
  }
  .loader-circle-three {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;

    animation: spin 0.9s linear infinite;
    background-color:black;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media only screen and (max-width: 700px) {
    .todo-controls-left button {
        width:100%;
    }
    .todo-controls-left {
        flex-direction: column-reverse;
    }

    .categories {
        flex-direction:row;
        padding-bottom:10px;
    }
    .categories > div {
        margin: 0 0 0 3px;
    }

    .todo-controls {
        flex-direction:column;  
    }
    .todo-list {
        grid-template-columns: 1fr;
        
    }
    .switch {
        margin:0;
    }
  }