@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap:break-word;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
select {

  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

body {
    background:rgba(0, 0, 0, 0.933);
}

button {

    outline:none;
    border:none;
    transition:0.2s ease;
    background:rgba(0, 0, 0, 0.481);
    color:white;
}

button:hover {
    background:rgba(0, 0, 0, 0.289);
}

input { display:inline-block; }





#container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    color:white;

}

.wrapper {
    width:100%;
    padding:10px;
}





.input-form input {
    padding: 10px;

}



.input-form textarea {
    width: 100%;
    padding: 10px;
    height: 150px;
}

.input-form label {
    display:inline-block;
    padding:10px;

}

.input-title {
    
    padding-bottom:10px;
}
.input-title input {
    width:100%;
}










.spacer {
    width:100%;
    display:block;
    border:1px solid rgba(0, 0, 0, 0.097);
    margin:5px;
}


.errors {
    margin-top: 5px;
    background: rgba(255, 0, 0, 0.707);
    border-radius: 5px;
    padding: 10px !important;
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    position: relative;
    display:flex;
    justify-content: space-between;
    -webkit-animation: slideIn 0.5s forwards;
    -moz-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
    color:white;
}


.todo-controls {
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    justify-content: space-between;
}


.priority {
    padding-left:10px;
}


.priority div {
    background:rgba(0, 0, 0, 0.296);
    padding:10px;
}


input[type=radio]:not(old){
    width: 28px;
}

.priority div {
    padding-left:5px
}

.todo-controls div {
    font-size:10px;
    flex-direction: row;
    display:flex;
    align-content:center;
    justify-content: center;
    align-items: center;
}

.todo-sort {
    justify-self: baseline;
}
.input-form select {
    margin-left:10px;
    padding:5px;
    outline:none;
    border:none;
}

.input-form select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.todo-filter {
    justify-self: baseline;
}

.todo-filter select {
    margin-left:10px;
}

.panes {
    margin-left:10px;
}

.panes svg {
    margin:0;
    padding:0;
}

.pri {
text-align:right;
}


.todos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}


.todo-wrapper {
    padding:5px 5px 0 5px;
    border-radius:5px;
    display:flex;
    color:white;
    flex-direction:column;
}


.todo-wrapper > div {
    background:rgba(0, 0, 0, 0.515);
}


.todo-title {
    font-size:13px;
    padding:5px;
}


.todo-dates {
    display: flex;
    flex-direction:column;
    font-weight: bold;
    font-size: 11px;
    padding: 5px;
    border-top:1px solid rgba(0, 0, 0, 0.213);
    border-bottom:1px solid rgba(0, 0, 0, 0.213);
}


.todo-content {
    font-size:12px;
    padding: 10px 5px 0 5px;
    height:100%;
}


.todo-wrapper input {
    width:100%;
    padding:10px;
}

.todo-wrapper textarea {
    width:100%; 
    height:200px;
    padding: 10px;
}

.high-priority {
    background-color: red;
}

.medium-priority {
    background-color: rgba(255, 0, 0, 0.789);
}

.low-priority {
    background-color: rgba(255, 0, 0, 0.535);
}


.todo-controls-edit {
    align-self:flex-end;
    justify-self: flex-end;
    display:flex;
    flex-direction:row;
    width:100%; 
}
.todo-controls-edit button {
    width:100%;  
    padding:3px;
}

.todo-controls-edit button:disabled {
    background:rgba(0, 0, 0, 0.296);
}

.input-form button {
    border-radius:2px;
    padding: 10px;
}



@keyframes slideIn {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 800px) {
    .todo-controls {
        flex-direction:column;
    }
    .todos {
        grid-template-columns: 1fr;
        
    }
  }