@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap:break-word;
}

body {
    background:rgba(0, 0, 0, 0.933);
}

#container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    color:white;

}

.todos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}

.wrapper {
    width:100%;
    padding:10px;
}

.input-form input {
    padding: 10px;

}



.input-form textarea {
    width: 100%;
    padding: 10px;
    height: 150px;
}

.input-form label {
    display:inline-block;

}

.input-title {
    
    padding-bottom:10px;
}
.input-title input {
    width:100%;
}
.todo-wrapper {
    padding:5px 5px 0 5px;;
    border-radius:5px;
    display:flex;
    color:white;
    flex-direction:column;
}

.todo-wrapper > div {
    background:rgba(0, 0, 0, 0.481);
    height:100%;
}

.todo-title {
    font-size:13px;
    padding: 5px;
}

.todo-dates {
    display: flex;
    flex-direction:column;
    font-weight: bold;
    font-size: 11px;
    padding: 5px;
    border-top:1px solid rgba(0, 0, 0, 0.213);
    border-bottom:1px solid rgba(0, 0, 0, 0.213);
}

.todo-content {
    font-size:12px;
    padding: 10px 5px 0 5px;
}

.spacer {
    width:100%;
    display:block;
    border:1px solid rgba(0, 0, 0, 0.097);
    margin:5px;
}

.errors {
    margin-top: 5px;
    background: rgba(255, 0, 0, 0.707);
    border-radius: 5px;
    padding: 10px !important;
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    position: relative;
    display:flex;
    justify-content: space-between;
    -webkit-animation: slideIn 0.5s forwards;
    -moz-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
    color:white;
}

.todo-controls {
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    justify-content: space-between;
}

.priority {
    padding-left:10px;
}

input[type=radio]:not(old){
    width: 28px;
}

.priority div {
    padding-left:5px
}

.todo-controls div {
    font-size:10px;
    flex-direction: row;
    display:flex;
    align-content:center;
    justify-content: center;
    align-items: center;
}

.todo-sort {
    justify-self: baseline;
}

.todo-sort select {
    margin-left:10px;
}

.todo-filter {
    justify-self: baseline;
}

.todo-filter select {
    margin-left:10px;
}

.todo-controls-edit {
    
    display:flex;
    flex-direction:row;
    width:100%;
    padding-top:10px;
    justify-content: ;
    align-content:flex-end;
}

.todo-controls-edit button {
    width:100%;
    padding:2px 0 2px 0;
    border-radius:0;
}

.todo-controls-edit button:disabled {
    background:rgba(0, 0, 0, 0.296);
}

.todo-wrapper input {
    width:100%;
    padding:10px;
}

.todo-wrapper textarea {
    width:100%; 
    height:200px;
    padding: 10px;
}

.high-priority {
    background-color: red;
}

.medium-priority {
    background-color: rgba(255, 0, 0, 0.789);
}

.low-priority {
    background-color: rgba(255, 0, 0, 0.535);
}

button {
    padding: 10px;
    outline:none;
    border:none;
    border-radius:2px;
    transition:0.2s ease;
    background:rgba(0, 0, 0, 0.481);
    color:white;
}

button:hover {
    background:rgba(0, 0, 0, 0.289);
}

input { display:inline-block; }

@keyframes slideIn {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 800px) {
    .todo-controls {
        flex-direction:column;
    }
    .todos {
        grid-template-columns: 1fr;
        g
    }
  }